<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.mbs.sdk.rich.operation.demo">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
  <uses-permission
    android:name="android.permission.WRITE_EXTERNAL_STORAGE"
    android:maxSdkVersion="18"/>

  <application
    android:allowBackup="false"
    android:hardwareAccelerated="true"
    android:icon="@drawable/ic_launcher">
    <receiver android:name=".ReviveReceiver">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED"/>

        <category android:name="android.intent.category.HOME"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.net.wifi.WIFI_STATE_CHANGED"/>
      </intent-filter>
    </receiver>
    <activity
      android:name=".MainActivity"
      android:excludeFromRecents="true"
      android:theme="@android:style/Theme.Translucent">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <service
      android:name=".AdService"/>

    <activity
      android:name="com.mbs.sdk.rich.ads.mediation.mobisummer.ui.interstitial.MbsInterstitialAdActivity"
      android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
      android:excludeFromRecents="true"
      android:theme="@android:style/Theme.Translucent"/>
  </application>

</manifest>